.lead{
   text-align: center;
   align-items: center; 
}
.lead__title{
padding: 0 0 32PX 0;
margin:0;
}
.lead__subtitle{
padding: 0 0 64px 0;
margin:0;
}

.lead__image{
    height: 615px;
    width: 984px;
}