.photo-grid{
    margin: 0 48px;
    max-width: 1,184px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 16px;

}
.photo-grid__item{
    margin:0;
    padding: 0;   
}   