.place{
  display: grid;
  grid-template-columns: 460px 1fr;
  grid-template-rows: auto auto 1fr;
  grid-gap: 48px 40px;
  grid-template-areas:
    "title website"
    "image description"
    "button";
}
.place__title{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 900;
    font-size: 72px;
    line-height: 76px;
    align-self: end;
    /* grid-area: title; */
    margin: 0 auto;

}
.place__website{
    align-self: end;
    /* grid-area: website; */
}

.place__artist-title{
    font-family: 'Inter';
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 15px;
    color: #AAAAAA;
    margin: 0 0 8px 0;
}
.place__artist{
    font-family: 'inter';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    margin: 0;
}
.place__image{
    width: 460px;
    height: 460px;
    object-fit: cover;
    overflow:hidden;
}

.place__paragraph{
    margin-top:0;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 163%;
    max-width: 484px;
}
.place__button{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 22px;
    background: #0278FE;
    border-radius: 4px;
    padding: 13px 20px; 
    margin-bottom: 80px;
    color: #fff;
    width: 248px;
    height: 22px;
    justify-self: start;
    text-align: center;
    border:none;

}
.place__button:last-child{
    margin-bottom: 92px;